body {
    position: relative;
	margin: 0;
	padding: 10px;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
    background: url(Images/bg.jpg);
    left: 19%;
    top: -10px;
    max-width: 20vh;
    overflow-x: hidden;
}

.slider {
    width: 900px;
}

header {
    display: flex;
    padding-bottom: 20px;
}

nav {
    margin-top: 20px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    gap: 3rem;
}

.slider img {
    position: absolute;
}

nav a {
    text-decoration: none;
}

nav h4 {
    color: white;
}

nav p {
    position: relative;
    text-align: center;
    color: rgb(99, 99, 99);
    font-size: 9px;
    top: -15px;
}

nav a img {
    position: relative;
    top: -20px;
}

nav .products, .services, .contacts {
    position: relative;
    right: -20px;
}

.logo {
    margin-top: 20px;
}

.slider img {
    background: linear-gradient(to bottom, #345b00, #376a00, #3a7a00);
    padding: 0 300px 0 300px;
    position: absolute;
    left: -300px;
    margin-top: -50px;
    opacity: 1;
    transition: 0.5s;
}



.flex {
    display: flex;
    width: 50%;
}

.socialul1 {
    display: flex;
    width: 100%;
    gap: 0.7rem;
}

.liflex button {
    margin-left: 95px;
    margin-top: 10px;
    background-color: white;
    border: none;
    padding: 8px;
}

.socials p {
    position: relative;
    left: -40px;
    width: 150px;
}

.socials {
    width: 300%;
}

.socials p, footer p {
    color: rgb(99, 99, 99);
}

.socials a, footer a {
    color: white;
}

.socials input {
    background-color: white;
    border: none;
    padding: 8px;
}

::placeholder{
    font-style: italic;
}

.socials button {
    float: right;
}

.bg {
    position: relative;
    top: -52px;
    opacity: 0;
}

.bg2 {
    position: relative;
    left: -7px;
    opacity: 0;
}

.bg3 {
    position: relative;
    left:-14px;
    opacity: 0;
}
.bg4{
    position: relative;
    left:-14.7px;
    opacity: 0;
}

.socialul2 p {
    background: url(Images/marker_1.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 10px;
}


.follow .facebook{
    background: url(Images/icon1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}

.follow .twitter{
    background: url(Images/icon2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}

.btncontainer{
    position: relative;
    top: 320px;
    right: -420px;
    z-index: 20;
}


.follow .linkedln{
    background: url(Images/icon3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}


.follow .delicious{
    background: url(Images/icon4.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}




footer {
    position: relative;
    left: -301.5px;
    background-color: black;
    width: 1530px;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: -20px;
}

.active h4 {
    color: green;
}

.active p {
    color: white;
}








.btncontainer button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}

.btncontainer .btn2, .btn3, .btn4 {
    background-color: white;
 }

.btncontainer .btn1 {
   background-color: black;
}

.btncontainer button:active, .btncontainer button:focus{
    background-color: black;
}
 
 main {
    position: relative;
    margin-top: 373px;
    background-color: white;
    width: 1532px;
    left: -302px;
    height: 520px;
} 

.main1 p, .main2 p {
    color: rgb(100, 100, 100);
    font-style: italic;
}

strong {
    color: black;
}

span {
    color: rgb(100, 100, 100);

}

 main h4, .socials h3 {
    font-weight: 100;
    font-size: large;
}

.gray {
    color: rgb(100, 100, 100);
}

.main1 ul {
    display: flex;
    margin-top: 340px;
    margin-left: 20%;
    padding-top: 20px;
}

.main2 {
    display: flex;
    width: 90%;
}

main h4, main h3, main p {
    color: black;
}

main h2 {
    background: url(Images/dropcap1.gif);
    background-repeat: no-repeat;
    background-size: 40px;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
}

.title {
    display: flex;
    gap: 10px;
}

.main1 h4 {
    margin-top: 20px;
}

.jamesflex {
    display: flex;
}

.jamesflex .button {
    display: flex;
}

.jamesflex button {
    background: none;
    border: none;
    margin-top: -14px;
    margin-left: -2px;
    cursor: pointer;

}

.jamesflex button:active{
    opacity: 0.5;
}

.main1 .greenlink a{
    color: rgb(98, 163, 0);
}

.main1 li{
    position: relative;
    left: -40px;
    width: 190px;
    margin: 0 40px 0 0;
    
}

.main2-1 {
    position: relative;
    left: 300px;
    line-height: 1.5;
 
}

.main2-1 img {
    width: 180px;
    height: 168px;
}

.main2-1 p {
    margin-left: 20px;
    margin-top: -3px;
}

.main2-2 {
    position: relative;
    left: -200px;
}

.main2-2 img {
    width: 100%;
}

.txt {
    width: 190px;

}




.socialul3 {
    color: rgb(100, 100, 100);
    line-height:2.7;
    margin-right: 20px;
    border-collapse: collapse;
    margin-top: -10px;
}

.socialul2 {
    margin-top: -10px;
}

.socialul2 td p{
    padding-left: 40px;
    margin: 9px;
}

.socialul1 {
    gap: 2rem;
    margin-left: -40px;
}

.socials button{
    cursor: pointer;
}

.socials button:active{
    opacity: 0.5;
}

.socialul2 li, .socialul3 li, .socialul4 li, table tr td{
    border-bottom: 1px solid rgb(100, 100, 100);
}

.socialul2 li {
    padding-left: 26px;
    margin-left: -26px;
}

.socialul4 li {
    padding-left: 10px ;
}

.bordertop, .facebook{
border-top:  1px solid rgb(100, 100, 100);
}

.follow td p{
    padding-left: 40px;
    margin: 9.5px;
}
.follow table {
    margin-top: -12px;
}
